[Unit]
After=network.service

[Service]
ExecStart=/var/www/FoodClassAIWeb/backend/run_backend_service.sh
user=coe
Restart=on-failure
RestartSec=100

[Install]
WantedBy=multi-user.target
